body{
	background-color: lightblue;
}

h1{
  	color: orange;
  	font-size: 70px;
  	text-decoration: underline;
  }
  h2{
  	font-size: 22px;
  	color: green;
  }
  .small{
  	font-size: 12px;

  }

  #first{
  	font-size: 120px;
  }
  span{
  	font-style: italic;
  }
  h2 span{
  	text-decoration: line-through;
  }